[Desktop Entry]
Encoding=UTF-8
Name=Link to Be an innovator with a DBA, PhD, or EdD from Grand Canyon University!
Type=Link
URL=https://www.linkedin.com/csp/crd?v=1&cs=0_i7DQNxUS5GhX_ZAk5i_PMbPePk0Zyp71hDnbuj8vKljpRDBFmZwzpVxY1TLIQdLuCw9m45mKZITfXyKEhzOIc8C-R1s15phSJOgJnpLFMeNfHalV7Z9QBCGcq6HpY27fZWQCfL5MN7ub2Ak5Jx2-W3eNit27m5ovR_SAk2yIzc-OHBRJ8KhKt_W1yOZ8jiuOXNfvOa-Yel25sR3qKPSDCfnjVpqWa5RHTLbmgU2X8YNuPQiE-CNV8ARSO-Hl3rD0yLQjqkIfQnTxSk4EcAEklvWFPEhs7xW7FkYgwq0INzMJM5fKk9GZpS18EKOGed3lkSPCXyZzTvNmlmUFiFQTabG3XYn-YdwAaqoB_f1PCyTBzqdNQYWvxKsPaz-XW8C8353cdZox-KfutGGqTp4Htb77NWrXo16gO5Z4H0Yrmo3GvcywhtBANlAWU2sfbiT5xRXpCpndhWiH2DsWvfVusw-wGAe2Rz-A0LWcTtcImwcp9xbSAnv4MpKsiy6ZssGgt0ELJUh0c1LQ6kn-dEjeJ5Oob0UHjH0FmnREDAGI1klrNofZzaBfRcgCi5soBqMj
Icon=text-html
